@nriin:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=j7rMuf5MqwgfQZo8P6CE
//gitlab.com/api/v4/projects/18749036/packages/npm/:_authToken=NkCxJtsDrQCBj4bS9A2t
//gitlab.com/api/v4/projects/22355537/packages/npm/:_authToken=xUMUiAeHFFdPF7hzz1oT
//gitlab.com/api/v4/projects/23602570/packages/npm/:_authToken=cy_Q-Psew8F6GHYD-y4o